// Colours
$color-background: {{ .Site.Params.colors.background | default "#fff" }};
$color-circle: {{ .Site.Params.colors.circle | default "#164972" }};
$color-foreground: {{ .Site.Params.colors.foreground | default "#fff" }};
$color-hover: {{ .Site.Params.colors.hover | default "#88fcf0" }};

@import 'stip/variables';
@import 'stip/base';
@import 'stip/layout';
